name: 'Build'
on:
#   push:
#     branches:
#     - "main"
#   pull_request:
  workflow_dispatch:
   
permissions:
  contents: write
  id-token: write
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials for account
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        role-to-assume: "arn:aws:iam::017432918922:role/Github-Deployment-Role"
        aws-region: 'eu-west-1'

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image for web-server
      env:
        AWS_REGION: 'eu-west-1'
        ECR_REPO_NAME: 'ecr-imaginary-client-wordpress'
        DOCKERFILE_PATH: Dockerfiles/web-server/Dockerfile
        IMAGE_TAG: 'web-server'  # Specify the tag you want to use
      run: |
        # Build the Docker image
        docker build -t 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG -f $DOCKERFILE_PATH .
        
        # Tag the Docker image
        docker tag 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG
        
        # Push the Docker image to ECR
        docker push 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG

        # Output the image URL
        echo "::set-output name=image_url::017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG"


    - name: Build and push Docker image for mysql
      env:
        AWS_REGION: 'eu-west-1'
        ECR_REPO_NAME: 'ecr-imaginary-client-mysql'
        DOCKERFILE_PATH: Dockerfiles/mysql/Dockerfile
        IMAGE_TAG: 'mysql'  # Specify the tag you want to use
      run: |
        # Build the Docker image
        docker build -t 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG -f $DOCKERFILE_PATH .
          
        # Tag the Docker image
        docker tag 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG
          
        # Push the Docker image to ECR
        docker push 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG
  
        # Output the image URL
        echo "name=$(image_url::017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:$IMAGE_TAG)"
        

