name: 'MySQL'
on:
#   push:
#     branches:
#     - "main"
#   pull_request:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials for account
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        role-to-assume: "arn:aws:iam::017432918922:role/github-deployment"
        aws-region: 'eu-west-1'

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image for mysql
      env:
        AWS_REGION: 'eu-west-1'
        ECR_REPO_NAME: 'ecr-imaginary-client'  # Name of your ECR repository for mysql
        DOCKERFILE_PATH: Dockerfiles/mysql/Dockerfile
      run: |
        docker build -t 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:latest -f $DOCKERFILE_PATH .
        docker push 017432918922.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_NAME:latest